#fill{
    width: 95%;
    height: fit-content;
    margin: 5px 0px 20px 15px;
    padding: 5px;
}
#container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
#container>div{
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 20px;
}
img{
    width: 150px;
    height: 150px;
    margin-left: 32%;
}
#addUser{
    margin: auto ;
    /* border: 1px solid rgb(254, 9, 9); */
    text-align: center;
    font-weight:bolder;
    color: brown;
    margin-top: 60px;
    
}
#formm{
    width: 80%;
    height: 55px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 40px;
}
#email{
    border-radius: 5px;
    height: 35px;
    width: 300px;
}
#name{
    border-radius: 5px;
    height: 35px;
    width: 300px;
}
#username{
    border-radius: 5px;
    height: 35px;
    width: 300px;
}
#btn{
    width: 150px;
    height: 55px;
    border-radius: 50%;
    color:white;
    background-color: cadetblue;
}
@media all and (min-width:901px) and (max-width:1500px){
    #container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
}
@media all and (min-width:400px) and (max-width:900px){
    #container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
}